<div class = "row">
	<p><b>Upload File</b></p>
	<%= form_tag "/dashboard/upload", multipart: true do %>
		<%= file_field_tag "File", style: "padding-left:635px;" %> 
		<%= submit_tag "Submit" %> 
	<% end %> 	
</div>

<div class = "row">
	<p><b>Create Folder</b></p>
	<%= form_tag "/dashboard/cr_folder" do %>
		<%= text_field_tag :folder %> 
		<%= submit_tag "Submit" %> 
	<% end %> 	
</div>
<div class = "row">
	<p><b>Search File</b> (Full Name of file with extension)</p>
	<%= form_tag "/dashboard/working_platform" do %>
		<%= search_field_tag :search %> 
		<%= submit_tag "Submit" %> 
	<% end %>
</div>
<div class = "row">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>type</th>	
				<th>Download Link</th>
			</tr>
		</thead>
		<tbody>
			<% unless !@files.nil? and @files.first.parents.first.isRoot %>
				<tr><td colspan=3 > <%= link_to "Go Back", dashboard_working_platform_path(back: @files.first.parents.first.id) %> </td></tr>
			<% end %>
			<% @files.each do |file| %>				
				<tr>
				<% if file.mimeType == "application/vnd.google-apps.folder" %>		
					<td>
						<%= link_to file.title, dashboard_working_platform_path(parent_id: file.id) %> 						
					</td>
				<% else %>
					<td><%= link_to file.title, file.alternateLink, :target => "_blank" %> </td>
				<% end %>					 
					<td> <%= file.mimeType %> </td>					
					<td> <%= link_to "Download", file.downloadUrl %> </td>
				</tr>				
			<% end %> 
		</tbody>		
	</table>
</div>


